<div class="reserva-hero">

  <div class="reserva-box">

    <h2 class="text-center mb-4">Faça sua Reserva</h2>

    <form (ngSubmit)="enviarReserva()" *ngIf="!reservaConfirmada">

      <input class="form-control mb-3"
      placeholder="Seu nome"
      name="nome"
      [(ngModel)]="reserva.nome">

      <input class="form-control mb-3"
      placeholder="Seu email"
      name="email"
      [(ngModel)]="reserva.email">

      <input type="date"
      class="form-control mb-3"
      name="checkin"
      [(ngModel)]="reserva.checkin">

      <input type="date"
      class="form-control mb-3"
      name="checkout"
      [(ngModel)]="reserva.checkout">

      <input type="number"
      class="form-control mb-3"
      placeholder="Número de pessoas"
      name="pessoas"
      [(ngModel)]="reserva.pessoas">

      <button class="btn btn-warning w-100">
        Confirmar Reserva
      </button>

    </form>

    <div *ngIf="reservaConfirmada" class="text-center">

      <h3 class="text-success">Reserva Confirmada 🎉</h3>

      <p>Obrigado por escolher o Hotel Sucellos.</p>

    </div>

  </div>

</div>